html, body {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
   font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
input:focus {
    outline: none;
}

/* Desktop */

.application header {position: sticky; top: 0; background-color: black; color: white;}
.application header .inner-section {display: flex; align-items: center; padding: 0 1em}
.application header .logo {align-self: flex-start;}
.application header .logo a {display: flex;}
.application header .logo a .en {position:relative; font-weight: 400; padding-left: 1.5em;}
.application header .logo a .en::before {position: absolute; display: block; content: ''; width: .8em; height: .8em; background: #E50000; bottom: 3px; left: .25em;}
.application header .logo a .ro {position:relative; font-weight: 400; padding-right: 1.5em;}
.application header .logo a .ro::after {position: absolute; display: block; content: ''; width: .8em; height: .8em; background: #E50000; bottom: 3px; right: .25em;}
.application header nav ul {list-style-type: none; margin: 0; padding: 0; display: flex;}
.application header nav ul li {padding: 0 1em;}
.application header nav ul li a {text-decoration: none; color: #c7c7c7; font-weight: bold; text-transform: uppercase; font-family: 'Oswald', sans-serif; font-size: .85em}
.application header nav ul li.decorated a {color: #E50000;}
.application header nav ul li a:hover {color: white;}
.application header nav ul li a.selected {color: whitesmoke;}
.application header .language {display: flex; margin-left: auto;}
.application header .language img {width: 1.6em; height: 100%; cursor: pointer; padding: 2px; border: 1px solid white; border-radius: 4px;}
.application header .menu-container {display: flex; justify-content: center; margin-left: 6px;}
.application header .menu-container .menu {background: transparent; border: 0; cursor: pointer; margin-left: auto; white-space: nowrap;}
.application header .menu span {display: inline-block; margin: 0 2px; width: 6px; height: 6px; border-radius: 100%; background-color: white;}

.application article {padding: 1em; width: 80vw; margin: 0 auto; height: 100vh}

.application aside {}

.application footer {overflow: auto; text-align: center; border-top: 3px solid #E50000; padding-top: .7em;}
.application footer h4 {margin: .5em 0 0; background-color: black; color: white; font-size: .85em; border-top: 3px solid #E50000; font-weight: 400; line-height: 3em;}

/* Mobile */
.application.is-mobile header .logo {padding: 0;}
.application.is-mobile header nav {}
.application.is-mobile header nav ul {display: flex; flex-direction: column; text-align: center; border-bottom: 3px solid  #E50000}
.application.is-mobile header nav ul li {line-height: 2em;}
.application.is-mobile header nav ul li a {display: block;}

.application.is-mobile article {width: auto}

.application.is-mobile aside {}

.application.is-mobile footer {}
.application.is-mobile footer img {width: 100%;}
