html, body {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

a {text-decoration: none; color: inherit;}

button:focus,
input:focus {
  outline: none;
}

.fs0-25em {font-size: 0.25em;}
.fs0-5em {font-size: 0.5em;}
.fs0-75em {font-size: 0.75em;}
.fs1em {font-size: 1em;}
.fs1-25em {font-size: 1.25em;}
.fs1-5em {font-size: 1.5em;}
.fs1-75em {font-size: 1.75em;}
.fs2em {font-size: 2em;}
.fs2-25em {font-size: 2em;}
.fs2-5em {font-size: 2em;}
.fs2-75em {font-size: 2em;}
.fs3em {font-size: 3em;}
.fs3-25em {font-size: 3em;}
.fs3-5em {font-size: 3em;}
.fs3-75em {font-size: 3em;}
.fs4em {font-size: 4em;}
.fs4-25em {font-size: 4em;}
.fs4-5em {font-size: 4em;}
.fs4-75em {font-size: 4em;}

.fw100 {font-weight: 100;}
.fw300 {font-weight: 300;}
.fw400 {font-weight: 400;}
.fw500 {font-weight: 500;}
.fw700 {font-weight: 700;}
.fw900 {font-weight: 900;}

.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}

.flex-row {display: flex; flex-direction: row}
.flex-column {display: flex; flex-direction: column}

.secondary-color {color: #656565}

/* Desktop */

.application header {position: sticky; top: 0; background-color: black; color: white;}
.application header .inner-section {display: flex; align-items: center; padding: 0 1em}
.application header .logo {align-self: flex-start;}
.application header .logo a {display: flex;}
.application header .logo a .en {position:relative; font-weight: 400; padding-left: 1.5em;}
.application header .logo a .en::before {position: absolute; display: block; content: ''; width: .8em; height: .8em; background: #E50000; bottom: 3px; left: .25em;}
.application header .logo a .ro {position:relative; font-weight: 400; padding-right: 1.5em;}
.application header .logo a .ro::after {position: absolute; display: block; content: ''; width: .8em; height: .8em; background: #E50000; bottom: 3px; right: .25em;}
.application header nav ul {list-style-type: none; margin: 0; padding: 0; display: flex;}
.application header nav ul li {padding: 0 1em;}
.application header nav ul li a {text-decoration: none; color: #c7c7c7; font-weight: bold; text-transform: uppercase; font-family: 'Oswald', sans-serif; font-size: .85em}
.application header nav ul li.decorated a {color: #E50000;}
.application header nav ul li a:hover {color: white;}
.application header nav ul li a.selected {color: whitesmoke;}
.application header .language {display: flex; margin-left: auto;}
.application header .language img {width: 1.6em; height: 100%; cursor: pointer; padding: 2px; border: 1px solid white; border-radius: 4px;}
.application header .menu-container {display: flex; justify-content: center; margin-left: 6px;}
.application header .menu-container .menu {background: transparent; border: 0; cursor: pointer; margin-left: auto; white-space: nowrap;}
.application header .menu span {display: inline-block; margin: 0 2px; width: 6px; height: 6px; border-radius: 100%; background-color: white;}

.application article {padding: 1em; width: 80vw; margin: 0 auto; min-height: 80vh; font-family: 'Oswald', sans-serif;}

.application aside {}

.application footer {overflow: auto; text-align: center; border-top: 3px solid #E50000; padding-top: .7em;}
.application footer h4 {margin: .5em 0 0; background-color: black; color: white; font-size: .85em; border-top: 3px solid #E50000; font-weight: 400; line-height: 3em;}

/* Mobile */
.application.is-mobile header .logo {padding: 0;}
.application.is-mobile header nav {}
.application.is-mobile header nav ul {display: flex; flex-direction: column; text-align: center; border-bottom: 3px solid  #E50000}
.application.is-mobile header nav ul li {line-height: 2em;}
.application.is-mobile header nav ul li a {display: block;}

.application.is-mobile article {width: auto}

.application.is-mobile aside {}

.application.is-mobile footer {}
.application.is-mobile footer img {width: 100%;}

/* Pages */
.about-page {}
.about-page p {margin-bottom: 1.5em}
.about-page p span {}

.scientific-board {}
.scientific-board .flex-row {margin: auto 300px;}
.editorial-board {}
.page-content {width: 100%;}

.archive-list {display: flex; flex-direction: row; flex-wrap: wrap;}
.archive-item {width: 180px; height: 300px; text-align: center; display: flex; flex-direction: column; justify-content: space-between; border-radius: 4px; margin: 10px;}
.archive-item:hover {border-color: red;}
.archive-item img {width: 100%; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.archive-item .description {display: flex; flex-grow: 1; align-items: center; justify-content: center; padding: 5px;background-color: #3e3e3e; color: white; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
